@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply px-4 py-2 font-semibold rounded-lg 
         text-white bg-violet-900
         hover:bg-[#5b21b6]
         transition duration-200;
}

html {
  scroll-behavior: smooth;
}
